<!DOCTYPE html>
<html lang="en">

&#123;% block body %&#125;

<head>

    <meta charset="UTF-8">
    <title>Login Page</title> 
    <h1>{{info}}</h1>  
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

</head> 

<div class="header">
      <img src="../assets/images/university.jpg" alt="university building picture">

      <h1>Welcome to the Staff Portal</h1>
      <h2>Login Page</h2><br>
    </div>


    <form action="/login" method="post">
      <h2></h2>Username:<br>

      <input type="text" name='username'><br>
      Password:<br>
      <input  name='password' ><br><br>

      <input type="submit" value="Login">
      </form>



  <br/>
  <br/>

  <footer>© 2022 University Staff Portal</footer>



</body>    
</html>     













<!-- References

Used the following resources to get started on the design of login page:

https://www.c-sharpcorner.com/article/creating-a-simple-login-page-using-html-and-css/ 

https://piped.kavin.rocks/watch?v=R-hkzqjRMwM
 -->

