.student-table {
  border-collapse: collapse;
  margin: 40px 0;
  font-size:  0.9em;
  min-width: 450px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table th,
.content-table td {
  padding: 15px 15px;
}
