* {
  font-family: calibre; /* Change your font family */
}


#studentTable caption {
  font-size: 100;
  background: purple;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px 20px;
}

#studentTable {
  background-color: #1E90FF;
/*  color: black;*/
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  border:  5px solid;
  min-width: 700px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#studentTable thead {
  height: 70px;
  background-color: #00008B;
}

#studentTable thead th {
  padding: 10px;
  color: white;
}

#studentTable tr {
  padding: 10px;
  color: black;
}






/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:nth-child(even) {
  background-color: #f2f2f2;}

/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:hover {
  background-color: #00008B;
  color: white;}



/*REFERENCES
Used this template as a starting point: https://codepen.io/dcode-software/pen/dLVwOY*/