<!DOCTYPE html>
<html lang="en">


        <link rel="stylesheet" href="/static/style.css" type="text/css">
&#123;% block body %&#125;

<head>
    <h1 >{{info}}</h1>
</head>

<body>

    <form action="/login" method="POST">
    <div class="login">
    <div class="login-screen">
    <div class="app-title">
    <h1>Login</h1>
    </div>
    <div class="login-form">
    <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="username" name="username">
    <label class="login-field-icon fui-user" for="login-name"></label></div>
    <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password">
    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

    </div>
    </div>
    </div>
    </form>
&#123;% endblock %&#125;


</body>

</html>






















<!-- 




<!DOCTYPE html>  

<html>   

<head>

    <meta charset="UTF-8">
    <title>Login Page</title> 

    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>  

<body>








    <div class="header">
      <img src="../assets/images/university.jpg" alt="university building picture">

      <h1>Welcome to the Staff Portal</h1>
      <h2>Login Page</h2><br>
    </div>


    <form action="/login" method="post">
      <h2></h2>Username:<br>

      <input type="text" name='username'><br>
      Password:<br>
      <input  name='password' ><br><br>

      <input type="submit" value="Login">
      </form>

    <h1 >{{info}}</h1>
    

    <div class="login">    
    <form id="login" method="POST">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Log in">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form>     
    </div>    







  <br/>
  <br/>

  <footer>© 2022 University Staff Portal</footer>



</body>    
</html>     












<!-- 
References

Used the following resources to get started on the design of login page:

https://www.c-sharpcorner.com/article/creating-a-simple-login-page-using-html-and-css/ 

https://piped.kavin.rocks/watch?v=R-hkzqjRMwM


-->
 -->