* {
  font-family: calibre;
  box-sizing: border-box;
}

/*@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}*/

#wrapper{
  float: left;
  width: 100%;
  min-height: 100%;
  padding-bottom: 250px;
  box-sizing: border-box;
}

html, body{
  height: 100%
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}


.header {
  padding: 60px;
  text-align: center;
  background: #00B3B3;
  color: white;
  font-size: 30px;
}





#studentTable caption {
  font-size: 100;
  background: teal;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px 20px;
}

#studentTable {
  background-color: #4C9E9E;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  min-width: 650px;
  overflow: hidden;
  text-align: center;
  font-weight: lighter;
  border: 1px solid;
  border-color: #00008B;
}


#studentTable thead {
  height: 50px;
  background-color: #4C9E9E;
}


#studentTable thead th {
  padding: 8px;
  color: white;
}


/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:nth-child(even) {
  background-color: #teal;}

/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:hover {
  background-color: #fffl;
  color: white;
}


/*Referenced https://www.w3schools.com/csS/css3_buttons.asp*/

.dbButtons {
  margin-left:25%;
  margin-right:25%;
}

.dbButtons button {
  width: 50%;
  background-color: #1E90FF;
  border: 1px solid black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
  padding: 5px;
}

.dbButtons button:hover {
  background-color: #00008B;
}

.dbButtons button:active {
  background-color: #00008B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}







.button-group {
  margin-right: 10%;
  margin-left: 10%;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

.button-group button {
  width: 33.33%;
  background-color: #1E90FF;
  border: 1px solid black;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  padding: 5px;
}

.button-group button:hover {
  background-color: #00008B;
}

.button-group button:active {
  background-color: #00008B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.placeholder-group {
  margin-right: 30%;
  margin-left: 30%;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

.placeholder-group input {
  color: black;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
}


.placeholder-group h2 {
  color: white;
  background-color: #00008B;
  text-align: center;
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* HEADER */

/*header{
  float: left;
  width: 100%;
  height: 250px;
  background: #FBE0C3;
}*/


main{
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
}

/* Footer menus */

footer{
  float: left;
  width: 100%;
  height: 120px;
  background-color: teal;
  color: #fff;
  margin-top: -120px;
  text-align: center;
}

.footer-about{
 float:left;
 width: 30%;  
 border:10px;
 padding:10px;
 color: #fff;
}

.footer-contact{
 width: 30%;        
 float:right;
 text-align:justify;
 border:10px;
 padding:10px;
 color: #fff;
}

#footer-copyright{
  float:left;
  text-align:center;
  border:1px;
  width:514px;
  color: #fff;
}








/*REFERENCES
  Sample code excerpts taken from

  https://codepen.io/dcode-software/pen/dLVwOY

  https://www.w3schools.com/

  https://www.w3docs.com/snippets/javascript/how-to-reload-a-page-using-javascript.html

*/





/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
  .column {
    width: 100%;
  }*/



/* Text styling in all pages */

.text-outer {
float: left;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.text-inner {
  width: 500px;
  height: auto;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  color: white;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}




.main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }




/*Referenced from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/
*/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: cursive;
 background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdnassets.hw.net%2Ffd%2F46%2F6c192e704a87bc5b40b35e01d719%2F8077f11a3ba64171a871616d6ecdc652.jpg&f=1&nofb=1);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-size: 100% 100%;
}

a {
 text-decoration: none;
}
li {
 list-style: none;
}
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: teal;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}





/*Referenced https://www.w3schools.com/howto/howto_css_contact_section.asp*/
/*CONTACT FORM*/
/* Style inputs */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #teal;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: teal;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}






/*Referenced from https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp*/

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: teal;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}







/*
Referenced from https://www.w3schools.com/howto/howto_css_team.asp*/
 /* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
/*@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}*/

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} 