* {
  font-family: calibre;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

html, body{
  height: 100%
}

.header {
  padding: 60px;
  text-align: center;
  background: lightblue;
  color: white;
  font-size: 30px;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  width: 100%;
}

/* Left and right column */
.column.side {
  width: 33%;
}

/* Middle column */
.column.middle {
  width: 66%;
}


h1{
  text-align: center;
}

h2{
  text-align: center;
}





#studentTable caption {
  font-size: 100;
  background: purple;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px 20px;
}

#studentTable {
  background-color: #1E90FF;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  min-width: 650px;
  overflow: hidden;
  text-align: center;
  font-weight: lighter;
  border: 1px solid;
  border-color: #00008B;
}


#studentTable thead {
  height: 50px;
  background-color: #00008B;
}


#studentTable thead th {
  padding: 8px;
  color: white;
}


/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:nth-child(even) {
  background-color: #f2f2f2;}

/*Taken from https://www.w3schools.com/Css/css_table_style.asp*/
#studentTable tr:hover {
  background-color: #00008B;
  color: white;
}


/*Referenced https://www.w3schools.com/csS/css3_buttons.asp*/

.dbButtons {
  margin-left:25%;
  margin-right:25%;
}

.dbButtons button {
  width: 50%;
  background-color: #1E90FF;
  border: 1px solid black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
  padding: 5px;
}

.dbButtons button:hover {
  background-color: #00008B;
}

.dbButtons button:active {
  background-color: #00008B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}







.button-group {
  margin-right: 10%;
  margin-left: 10%;
}

.button-group button {
  width: 33.33%;
  background-color: #1E90FF;
  border: 1px solid black;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  padding: 5px;
}

.button-group button:hover {
  background-color: #00008B;
}

.button-group button:active {
  background-color: #00008B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.placeholder-group {
  margin-right: 30%;
  margin-left: 30%;
}

.placeholder-group input {
  color: black;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
}


.placeholder-group h2 {
  color: white;
  background-color: #00008B;
  text-align: center;
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
   background-color: red;


}

footer {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: lightblue;
  color: white;
}





/*REFERENCES
  Sample code excerpts taken from

  https://codepen.io/dcode-software/pen/dLVwOY

  https://www.w3schools.com/

  https://www.w3docs.com/snippets/javascript/how-to-reload-a-page-using-javascript.html

*/
